:root {
  --title-font: "Playfair Display", serif;
  --lato: "Lato", serif;
  --text-color: #130f49;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in-visible {
  opacity: 1;
}

/* Base Styles */
.hero-wrap {
  margin-left: 1rem;
  margin-top: 0.4rem;
  display: flex;
  flex-direction: column;
}

.inner-hero-wrap {
  display: flex;
  flex-direction: row;
  width: 700px;
}

.hero-wrap h1 {
  color: var(--text-color);
  font-family: var(--title-font);
  font-size: 5rem;
  padding-bottom: 0;
  margin-bottom: 10px;
}

.hero-wrap p:nth-of-type(1) {
  margin-top: 0;
  padding-top: 0;
  padding-left: 8px;
  font-size: 2rem;
  font-family: var(--lato);
  color: var(--text-color);
}

.hero-wrap p:nth-of-type(2) {
  margin-top: 0;
  padding-left: 10px;
  padding-top: 0;
  font-size: 1.8rem;
}

#hero-img-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

#hero-img {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-right: 170px;
  border-radius: 50px;
}

@media screen and (min-width: 500px) {
  #hero-img {
    width: 650px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-wrap {
    flex-direction: row;
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 700px;
  }

  .inner-hero-wrap {
    max-width: 500px;
  }

  #hero-wrap-text {
    margin-top: 100px;
  }

  .hero-wrap h1 {
    font-size: 6.5rem;
  }
  #hero-img {
    width: 900px;
    display: flex;
    margin-right: 100px;
    border-radius: 3px;
    border-bottom-right-radius: 10rem;
    border-top-right-radius: 10rem;
  }
}
